<h2>Documents most tagged as '<%= params['tag'] %>'</h2>
<ul>
  <% @documents[0..4].each do |doc| %>
    <li>
      <%= "ID: #{doc.id}, times tagged as '#{params['tag']}': #{doc[params['tag']]}" %>
      <% if doc.body %>
        <a href="/<%= doc.id %>/"><%= doc.body.truncate(100) %></a>
      <% end %>
    </li>
  <% end %>
</ul>
