<% if @document.filename? %>
  <div class="document-display">
    <iframe src="<%= DOC_PATH + @document.filename %>" width="620px" height="857px">Your Browser doesn't seem to support iframes.</iframe>
  </div>
<% end %>
<% if @document.body? %>
  <h4>The below is text digitally extracted from the file. It could be inaccurate or formatted incorrectly.</h4>
  <div class="document-body">
    <% @document.body.each_line('') do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>
<% end %>
