<h3><a href="/tag/">Tag some docs!</a></h3>
<p>
  <%= session[:tagged_docs] %>
</p>
<ul>
  <% @documents.each do |doc| %>
    <li>
    <h1><%= doc.id %></h1>
    <h3><%= doc.times_tagged %></h3>
    </li>
  <% end %>
</ul>
