<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teachin' myself Sinatra</title>
  </head>
  <body>
    <div class="wrapper">
      <% if session[:flash_message] %>
        <div class="message">
          <p><%= session[:flash_message] %></p>
          <% session[:flash_message] = nil %>
        </div>
      <% end %>
      <%= erb :tagged %>
      <%= yield %>
    </div>
  </body>
</html>
