<form action="/tag/" method="post">
  WOW! <input type="checkbox" name="interesting">
  LOL! <input type="checkbox" name="funny">
  Boring. <input type="checkbox" name="boring"><br>
  <button type="submit" name="id" value="<%= @document.id %>">Submit</button>
</form>
<p>Times tagged: <%= @document.times_tagged %></p>
<p>
  <%= session[:tagged_docs] %>
</p>
<%= erb :document %>
