<% tagged = session[:tagged_docs].length if !session[:tagged_docs].nil? %>
<div class="tagged-header">
<% unless tagged == 0 || session[:tagged_docs].nil? %>
  <strong>
    You've tagged <%= tagged %> document<% unless tagged == 1 %>s<% end %>!
    <% if tagged < 5 %>
    Tag <%= 5 - tagged %> more to see the others.
    <% else %>
    Thanks for the help! <a href="/view/interesting/">See the top documents</a> or <a href="/tag/">keep tagging!</a>
    <% end %>
  </strong>
  <% else %>
  <strong>Help us tag documents! Tag 5 and we'll let you see the most popular.</strong>
<% end %>
</div>
<br>
